<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %} <title>Add Product</title> {% endcomment %}
    <title>{% if edit_mode %}Edit{% else %}Add{% endif %} Product</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="{% static 'css/product/add_product.css' %}" />
   
  </head>
  <body>
    <div class="container-fluid">
      <form class="row p-3" id="form" method="POST"   onsubmit="return validateForm()">
        {% csrf_token %}
        <header>
          <h2>{% if edit_mode %}Edit{% else %}Add{% endif %} Product</h2>
          <p>{% if edit_mode %}Update a <b class="h3">{{form.product_name}}  </b>  {% else %} Add a New Product {% endif %}</p>

        </header>

        <div class="row g-3 border border-black-subtle p-3">
          <div class="col-md-3">
            <label for="product_name" class="form-label" 
              >Product name <span class="u_code">&#10033;</span></label
            >
            <input
              type="text"
              name="product_name"
              value="{{ form.product_name }}"
              class="form-control"
              id="product_name"
              placeholder="ASUSLaptop-X509JA_x50"
              onkeyup="validateProductName(this)"
            />

            <div id="product_name_error" style="color: red"></div>
          </div>

          <div class="col-md-3">
            <label for="Category" class="form-label"
              >Category <span class="u_code">&#10033;</span></label
            >
            <select
              class="form-select"
              name="category_name"
              id="Category"
              placeholder="Computers"
              onkeyup="category(this)"
            >
              {% comment %} <option style="display: none" value=""></option>
              <option value="Computer">Computer</option>
              <option value="Mobile Phone">Mobile Phone</option>
              <option value="Fan">Fan</option>
              <option value="Dhal">Dhal</option>
              <option value="Oil">Oil</option> {% endcomment %}
              {% for category in categories %}
                <option value="{{ category.category_name }}" {% if category.category_name == form.category_name %}selected{% endif %}>{{ category.category_name }}</option>
            {% endfor %}
            </select>
            <div id="category_error" style="color: red"></div>
          </div>
          <div class="col-md-3">
            <label for="sub_category" class="form-label">Sub Category</label>
            <input
              type="text"
              class="form-control"
              placeholder="Laptop"
              id="sub_category"
              name="sub_category" value="{{form.sub_category}}"
              onkeyup="subCategory(this)"
            />
            <div id="sub_category_error" style="color: red"></div>
          </div>
          <div class="col-md-3">
            <label for="Brand" class="form-label"
              >Brand <span class="u_code">&#10033;</span></label
            >
            <input
              type="text"
              name="brand" 
              value="{{ form.brand }}"
              class="form-control"
              placeholder="Asus"
              id="Brand"
              onkeyup="ProdBrand(this)"
            />
            <div id="brand_error"Submit style="color: red"></div>
          </div>
          <div class="col-md-3">
            <label for="Unit" class="form-label"
              >Unit <span class="u_code">&#10033;</span></label
            >
            <input
              type="text"
              name="unit"
              value="{{ form.unit }}"
              class="form-control"
              id="Unit"
              placeholder="Box"
              onkeyup="unit(this)"
            />
            <div id="unit_error" style="color: red"></div>
          </div>

          <div class="col-md-3">
            <label for="SKU" class="form-label">SKU</label>
            <input
              type="text"
              name="sku"
              value="{{ form.sku }}"
              class="form-control"
              placeholder="AK531469"
              id="SKU"
              onkeyup="Productsku()"
            />
            <div id="sku_error" style="color: red"></div>
          </div>

          <div class="col-md-3">
            <label for="Vendor" class="form-label"
              >Vendor ID <span class="u_code">&#10033;</span></label
            >
            {% comment %} <select
              class="form-select"
              name="vendor"
              id="Vendor"
              onkeyup="vendor()"
            >
              <option style="display: none" value=""></option>
              <option value="Vendor 1">Vendor 1</option>
              <option value="Vendor 2">Vendor 2</option>
              <option value="Vendor 3">Vendor 3</option>
              <option value="Vendor 4">Vendor 4</option>
            </select> {% endcomment %}
            <select name="vendor_id"  class="form-select" id="Vendor" onkeyup="vendor()">
              <option value="">Select Vendor</option>
              {% for vendor in vendors %}
                  <option value="{{ vendor.vendor_id }}" {% if vendor.vendor_id == form.vendor_id %}selected{% endif %}>{{ vendor.vendor_id }}</option>
              {% endfor %}
          </select>
          <div id="vendor_error" style="color: red"></div>
      
          </div>
          <div class="col-md-3">
            <label for="Quantity" class="form-label">
              Quantity <span class="u_code">&#10033;</span></label
            >
            <input
              type="text"
              name="quantity"
              value="{{ form.quantity }}"
              class="form-control"
              placeholder="200"
              id="Quantity"
              onkeyup="qty(this)"
            />
            <div id="qty_error" style="color: red"></div>
          </div>
          <div class="">
            <label for="Description" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="Description"
              style="height: 100px"
              name="description"
              placeholder="Discribe about your product"
            >  {{form.description}} </textarea>
          </div>
          <div class="col-md-2">
            <label for="Tax" class="form-label"
              >GST <span class="u_code">&#10033;</span></label>
            <input
              type="text"
              name="gst"
              value="{{ form.gst}}"
              class="form-control"
              placeholder="10.5%"
              id="Tax"
              onkeyup="tax(this)" />
            <div id="tax_error" style="color: red"></div>
          </div>
          <div class="col-md-2">
            <label for="Discount" class="form-label">Discount</label>
            <input
              type="text"
              name="discount"
              value = "{{ form.discount }}"
              class="form-control"
              placeholder="20.5%"
              id="Discount"
              value=""
              onkeyup="prodiscount(this)"
            />
            <div id="discount_error" style="color: red"></div>
          </div>

          <div class="col-md-2">
            <label for="HSNCode" name="hsn_code" class="form-label"
              >HSN Code <span class="u_code">&#10033;</span></label
            >
            <input
              type="number"
              name= "hsn_code"
              value="{{ form.hsn_code }}"
              class="form-control"
              id="HSNCode"
              placeholder="02531469"
              onkeyup="hsn(this)"
            />

            <div id="hsn_error" style="color: red"></div>
          </div>
          <div class="col-md-2">
            <label for="MRPPrice" class="form-label"
              >MRP Price <span class="u_code">&#10033;</span></label
            >
            <input
              type="text"
              name="mrp"
              value="{{ form.mrp }}"
              class="form-control"
              id="MRPPrice"
              placeholder="1000.50"
              onkeyup="promrp(this)"
            />
            <div id="mrp_error" style="color: red"></div>
          </div>
          <div class="col-md-2">
            <label for="Price" class="form-label"
              >Price <span class="u_code">&#10033;</span></label
            >
            <input
              type="text"
              name="price"
              value = "{{ form.price }}"
              class="form-control"
              id="Price"
              placeholder="500"
              onkeyup="proprice(this)"
            />
            <div id="price_error" style="color: red"></div>
          </div>

          <div class="col-md-2 mb-3">
            <label for="Status" class="form-label"
              >Status <span class="u_code">&#10033;</span></label
            >
            <select
            class="form-select"
            name="status"
            id="Status"
            onkeyup="status(this)"
          >
                      
              {% for choice in status %}
                <option value="{{ choice.0 }}" {% if choice.0 == form.status %}selected{% endif %}>{{ choice.1 }}</option>
              {% endfor %}
            </select>
            {% comment %} <select
              class="form-select"
              name="status"
              id="Status"
              onkeyup="status(this)"
            >
              <option>active</option>
              <option>Out of Stock</option>
              <option>disabled</option>
            </select> {% endcomment %}
            <div id="status_error" style="color: red"></div>
          </div>

          <div class="px-auto py-auto g-3 mb-5">
            <label class="mb-2"> Product Image</label>
            <div class="image-upload text-center productimage">
              <label for="file-input" class="productimage pt-3">
                <img
                  src="{% static 'images/upload_cloud.svg' %}"
                  style="width: 80px; cursor: pointer"
                  alt="upload product image"
                />
                <div class="mt-3 productimage" id="fileNameDisplay">
                  Click the upload icon below to upload a file.
                </div>
              </label>

              <input
                id="file-input"
                accept=".png"
                name = "product_image"
                onchange="displayFileName()"
                style="display: none !important"
                type="file"
                value= {{ form.product_image }}
              />
            </div>
          </div>
        </div>

        <div class="col-12 my-5">
          <button
            class="btn ms-3"
            style="background-color: #1b8e00; color: white"
            type="submit"
          >
          {% if edit_mode %}Update{% else %}Submit{% endif %}

          <a href="{% if edit_mode %}{% url 'product_list' %}{% else %}{% url 'home' %}{% endif %}">
          </button>

          <a href="{% url "product_create" %}">
            <button
              class="btn ms-3"
              style="background-color: #c90000; color: white"
              type="button"
            >
              Cancel
            </button></a
          >
        </div>
      </form>
    </div>

    {% comment %} <script src="addproduct.js"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'js/product/addproduct.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/product/add_product.js' %}" > </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>


